<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>doctor login</title>
	<style type="text/css">
	form{
		width:300px;
	}
	.form-field{
		width:100%;
	}
	input{
		margin-bottom:20px;
	}

	

	h2{
 		color: red;
 		text-align: center;
	}

	p{
 		font-family: verdana;
		font-size:25px;
		color: gray;
	}
	.tdStyle{
		background-image:url("/static/images/img19.jpg") ;
		background-repeat:no-repeat;
		color: white;
		height: 650px;
		
	}
	</style>
  </head>
  <body class="tdStyle">
	<center><h2>LOGIN</h2></center>
    <div class="container" style="padding-top:110px">
		<form id="form1" method="post">
			{%csrf_token%}
	<p>
		First Name<input type="text" id="txtfname" name="txtfname" class="form-field"> <br>
		Last Name<input type="text" id="txtlname" name="txtlname" class="form-field"> <br>	
		username<input type="text" id="txtuname" name="txtuname" class="form-field"> <br>
		password<input type="password" id="txtpwd" name="txtpwd" class="form-field"><br>
		confirm password<input type="password" id="txtcpwd" name="txtcpwd" class="form-field"><br>
		<input type="submit" id="signup" value="SIGNUP" style="background-color:rgb(50, 179, 70)">
		<a href="../../homedoctor/">LOGIN</a>
	</p> 
		</form>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name +'=')) {
                         cookieValue =decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) ||
/^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});


$("#signup").click(function(e){
e.preventDefault();
$.ajax({
	url:"ajaxsignup/",
	type:"post",
	datatype:"json",
	data:$("#form1").serialize(),
	success:function(data)
	{
		
		$("#txtfname").val("");		
		$("#txtlname").val("");
		$("#txtuname").val("");
		$("#txtpwd").val("");
		$("#txtcpwd").val("");	
		if(data.status)
		{			
			if(data.val2==0)
			{
				alert("sucessfully signup");
			}
			if(data.val1==0)
			{
				alert("mismatch password and confirm password");
			}
		}
		else
		{
			alert("Failed to receive");
		}
	},
	error:function()
	{
	alert("Connection Failed");
	}
	});
});






</script>

  </body>
</html>
